$grid-gutter-width: 24px;
$grid-columns: 12;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1180px
) !default;

$grid-gutters: (
  xs: 8px,
  sm: 12px,
  md: 24px,
  lg: 48px,
  xl: 72px
) !default;
