.plain-text {
  &__legal {
    margin: 0 0 3.5rem;
  }

  &__cookies {
    margin: 0;
  }

  &__title {
    margin: 2rem 0 1rem;
  }

  &__paragraph {
    margin-bottom: 1rem;
    line-height: 1.4;
  }

  @media only screen and (min-width: 768px) {
    padding: 0 2rem;

    &__legal {
      margin: 0 0 4rem;
    }

    &__title {
      margin: 4rem 0 1rem;
    }
  }

  @media only screen and (min-width: 1024px) {
    padding: 0 3rem;
  }

  @media only screen and (min-width: 1200px) {
    padding: 0;
  }

  @media only screen and (min-width: 1500px) {
    &__legal {
      margin: 0 0 8rem;
    }

    &__title {
      margin: 6rem 0 1rem;
    }
  }

  @media only screen and (min-width: 3000px) {
    &__legal {
      margin: 0 0 10rem;
    }

    &__title {
      margin: 8rem 0 1rem;
    }
  }
}
