.contract {
  padding: 1rem 0;
  border-bottom: .125rem solid #fd2b5e;

  &__title {
    color: #fd2b5e;
    margin: 0 0 .5rem 0;
  }

  &__ways {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 1rem;
  }

  &__label {
    margin: 0 .25rem;
  }

  &__link {
    color: #fd2b5e;
    font-family: "AkkuratBold", "Arial", sans-serif;
  }

  @media only screen and (min-width: 768px) {
    &__title {
      text-align: center;
      margin: 0 .5rem 0 0;
    }

    &__ways {
      align-self: flex-end;
    }

    &__label {
      margin: 0 .5rem;
    }
  }

  @media only screen and (min-width: 1200px) {
    &__title {
      margin: 0 1.5rem 0 0;
    }
  }
}
