.contract {
  padding: 1rem 0;

  @media only screen and (min-width: 768px) {
    margin: 0 0 5rem;
  }

  @media only screen and (min-width: 1200px) {
    margin: 0 0 10rem;
  }

  @media only screen and (min-width: 1900px) {
    padding: 1.5rem 0;
  }

  &__title {
    margin: 0 0 .5rem;
    padding: 0 .5rem;
    text-align: center;
    color: #fff;

    @media only screen and (min-width: 768px) {
      margin: 0 .5rem 0 0;
      padding: 0;
      line-height: 1.4;
    }

    @media only screen and (min-width: 1200px) {
      margin: 0 .75rem 0 0;
      line-height: 1.5;
    }

    @media only screen and (min-width: 1900px) {
      line-height: 1.3;
    }
  }

  &__ways {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    line-height: 1.5;
    color: #fff;
    font-size: 1rem;

    @media only screen and (min-width: 768px) {
      align-self: flex-end;
    }

    @media only screen and (min-width: 1200px) {
      font-size: 1.125rem;
    }

    @media only screen and (min-width: 1500px) {
      font-size: 1.25rem;
    }

    @media only screen and (min-width: 3000px) {
      font-size: 1.5rem;
    }
  }

  &__label {
    margin: 0 .25rem;

    @media only screen and (min-width: 768px) {
      margin: 0 .5rem;
    }
  }

  &__link {
    color: #fff;
    font-family: "AkkuratBold", "Arial", sans-serif;
  }

  // WHITE BACKGROUND WITH BORDER STYLES

  &__home,
  &__performances-w {
    .contract {
      &__ways {
        color: #000;
      }
    }
  }

  &__home {
    border-bottom: .125rem solid #fd2b5e;

    .contract {
      &__title,
      &__link {
        color: #fd2b5e;
      }
    }
  }

  &__performances-w {
    display: none;
    margin: 0;
    border-bottom: .125rem solid #e84e31;

    @media only screen and (min-width: 768px) {
      display: block;
    }

    .contract {
      &__title,
      &__link {
        color: #e84e31;
      }
    }
  }

  // COLOURED BACKGROUND STYLES

  &__shows,
  &__workshops {
    @media only screen and (min-width: 1024px) {
      margin: 6.5rem 0;
    }

    @media only screen and (min-width: 1200px) {
      margin: 6.5rem 0 10rem;
    }
  }

  &__shows-detail,
  &__performances {
    @media only screen and (min-width: 1024px) {
      margin: 0 0 6.5rem;
    }

    @media only screen and (min-width: 1200px) {
      margin: 0 0 10rem;
    }
  }

  &__shows,
  &__shows-detail {
    background-color: #fd2b5e;
  }

  &__workshops {
    background-color: #5c2978;
  }

  &__performances {
    background-color: #e84e31;
  }
}
