@include font-face(
  "AkkuratLight",
  "~/fonts/akkurat/akkurat_light_regular-webfont",
  $weight: 200,
  $style: null,
  $exts: eot woff2 woff ttf svg
  );
@include font-face(
  "AkkuratLightItalic",
  "~/fonts/akkurat/akkurat_light_italic-webfont",
  $weight: 200,
  $style: null,
  $exts: eot woff2 woff ttf svg
  );
@include font-face(
  "Akkurat",
  "~/fonts/akkurat/akkurat_regular-webfont",
  $weight: 400,
  $style: null,
  $exts: eot woff2 woff ttf svg
  );
@include font-face(
  "AkkuratItalic",
  "~/fonts/akkurat/akkurat_italic-webfont",
  $weight: 400,
  $style: null,
  $exts: eot woff2 woff ttf svg
  );
@include font-face(
  "AkkuratBold",
  "~/fonts/akkurat/akkurat_bold-webfont",
  $weight: 900,
  $style: null,
  $exts: eot woff2 woff ttf svg
  );
@include font-face(
  "AkkuratBoldItalic",
  "~/fonts/akkurat/akkurat_bold_italic-webfont",
  $weight: 900,
  $style: null,
  $exts: eot woff2 woff ttf svg
);

* {
  font-family: "Akkurat";
}

html,
body {
  font-size: $rem-baseline;
  -webkit-font-smoothing: antialiased;
}
