@font-face {
  text-rendering: optimizeLegibility;
  font-family: "AkkuratLight";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/akkurat/akkurat_light_regular-webfont.eot"),
  url("/fonts/akkurat/akkurat_light_regular-webfont.eot?#iefix")
  format("embedded-opentype"),
  url("/fonts/akkurat/akkurat_light_regular-webfont.woff2") format("woff2"),
  url("/fonts/akkurat/akkurat_light_regular-webfont.woff") format("woff"),
  url("/fonts/akkurat/akkurat_light_regular-webfont.ttf")  format("truetype"),
  url("/fonts/akkurat/akkurat_light_regular-webfont.svg#svgFontName")
  format("svg");
}

@font-face {
  text-rendering: optimizeLegibility;
  font-family: "AkkuratLightItalic";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/akkurat/akkurat_light_italic-webfont.eot"),
  url("/fonts/akkurat/akkurat_light_italic-webfont.eot?#iefix")
  format("embedded-opentype"),
  url("/fonts/akkurat/akkurat_light_italic-webfont.woff2") format("woff2"),
  url("/fonts/akkurat/akkurat_light_italic-webfont.woff") format("woff"),
  url("/fonts/akkurat/akkurat_light_italic-webfont.ttf")  format("truetype"),
  url("/fonts/akkurat/akkurat_light_italic-webfont.svg#svgFontName")
  format("svg");
}

@font-face {
  text-rendering: optimizeLegibility;
  font-family: "Akkurat";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/akkurat/akkurat_regular-webfont.eot"),
  url("/fonts/akkurat/akkurat_regular-webfont.eot?#iefix")
  format("embedded-opentype"),
  url("/fonts/akkurat/akkurat_regular-webfont.woff2") format("woff2"),
  url("/fonts/akkurat/akkurat_regular-webfont.woff") format("woff"),
  url("/fonts/akkurat/akkurat_regular-webfont.ttf")  format("truetype"),
  url("/fonts/akkurat/akkurat_regular-webfont.svg#svgFontName") format("svg");
}

@font-face {
  text-rendering: optimizeLegibility;
  font-family: "AkkuratItalic";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/akkurat/akkurat_italic-webfont.eot"),
  url("/fonts/akkurat/akkurat_italic-webfont.eot?#iefix")
  format("embedded-opentype"),
  url("/fonts/akkurat/akkurat_italic-webfont.woff2") format("woff2"),
  url("/fonts/akkurat/akkurat_italic-webfont.woff") format("woff"),
  url("/fonts/akkurat/akkurat_italic-webfont.ttf")  format("truetype"),
  url("/fonts/akkurat/akkurat_italic-webfont.svg#svgFontName") format("svg");
}

@font-face {
  text-rendering: optimizeLegibility;
  font-family: "AkkuratBold";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/akkurat/akkurat_bold-webfont.eot"),
  url("/fonts/akkurat/akkurat_bold-webfont.eot?#iefix")
  format("embedded-opentype"),
  url("/fonts/akkurat/akkurat_bold-webfont.woff2") format("woff2"),
  url("/fonts/akkurat/akkurat_bold-webfont.woff") format("woff"),
  url("/fonts/akkurat/akkurat_bold-webfont.ttf")  format("truetype"),
  url("/fonts/akkurat/akkurat_bold-webfont.svg#svgFontName") format("svg");
}

@font-face {
  text-rendering: optimizeLegibility;
  font-family: "AkkuratBoldItalic";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/akkurat/akkurat_bold_italic-webfont.eot"),
  url("/fonts/akkurat/akkurat_bold_italic-webfont.eot?#iefix")
  format("embedded-opentype"),
  url("/fonts/akkurat/akkurat_bold_italic-webfont.woff2") format("woff2"),
  url("/fonts/akkurat/akkurat_bold_italic-webfont.woff") format("woff"),
  url("/fonts/akkurat/akkurat_bold_italic-webfont.ttf")  format("truetype"),
  url("/fonts/akkurat/akkurat_bold_italic-webfont.svg#svgFontName")
  format("svg");
}

body {
  font-family: "Akkurat";
}

