@font-face {
  font-family: "AkkuratLight";
  src: url("~/fonts/akkurat/akkurat_light_regular-webfont.eot");
  src: url('~/fonts/akkurat/akkurat_light_regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('~/fonts/akkurat/akkurat_light_regular-webfont.woff2') format('woff2'),
      url('~/fonts/akkurat/akkurat_light_regular-webfont.woff') format('woff'),
      url('~/fonts/akkurat/akkurat_light_regular-webfont.ttf')  format('truetype'),
      url('~/fonts/akkurat/akkurat_light_regular-webfont.svg#svgFontName') format('svg');
  font-weight: 200;
  font-style: normal;
  text-rendering: optimizeLegibility;
};

@font-face {
  font-family: "AkkuratLightItalic";
  src: url("~/fonts/akkurat/akkurat_light_italic-webfont.eot");
  src: url('~/fonts/akkurat/akkurat_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
      url('~/fonts/akkurat/akkurat_light_italic-webfont.woff2') format('woff2'),
      url('~/fonts/akkurat/akkurat_light_italic-webfont.woff') format('woff'),
      url('~/fonts/akkurat/akkurat_light_italic-webfont.ttf')  format('truetype'),
      url('~/fonts/akkurat/akkurat_light_italic-webfont.svg#svgFontName') format('svg');
  font-weight: 200;
  font-style: normal;
  text-rendering: optimizeLegibility;
};

@font-face {
  font-family: "Akkurat";
  src: url("~/fonts/akkurat/akkurat_regular-webfont.eot");
  src: url('~/fonts/akkurat/akkurat_regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('~/fonts/akkurat/akkurat_regular-webfont.woff2') format('woff2'),
      url('~/fonts/akkurat/akkurat_regular-webfont.woff') format('woff'),
      url('~/fonts/akkurat/akkurat_regular-webfont.ttf')  format('truetype'),
      url('~/fonts/akkurat/akkurat_regular-webfont.svg#svgFontName') format('svg');
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
};

@font-face {
  font-family: "AkkuratItalic";
  src: url("~/fonts/akkurat/akkurat_italic-webfont.eot");
  src: url('~/fonts/akkurat/akkurat_italic-webfont.eot?#iefix') format('embedded-opentype'),
      url('~/fonts/akkurat/akkurat_italic-webfont.woff2') format('woff2'),
      url('~/fonts/akkurat/akkurat_italic-webfont.woff') format('woff'),
      url('~/fonts/akkurat/akkurat_italic-webfont.ttf')  format('truetype'),
      url('~/fonts/akkurat/akkurat_italic-webfont.svg#svgFontName') format('svg');
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
};

@font-face {
  font-family: "AkkuratBold";
  src: url("~/fonts/akkurat/akkurat_bold-webfont.eot");
  src: url('~/fonts/akkurat/akkurat_bold-webfont.eot?#iefix') format('embedded-opentype'),
      url('~/fonts/akkurat/akkurat_bold-webfont.woff2') format('woff2'),
      url('~/fonts/akkurat/akkurat_bold-webfont.woff') format('woff'),
      url('~/fonts/akkurat/akkurat_bold-webfont.ttf')  format('truetype'),
      url('~/fonts/akkurat/akkurat_bold-webfont.svg#svgFontName') format('svg');
  font-weight: 900;
  font-style: normal;
  text-rendering: optimizeLegibility;
};

@font-face {
  font-family: "AkkuratBoldItalic";
  src: url("~/fonts/akkurat/akkurat_bold_italic-webfont.eot");
  src: url('~/fonts/akkurat/akkurat_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
      url('~/fonts/akkurat/akkurat_bold_italic-webfont.woff2') format('woff2'),
      url('~/fonts/akkurat/akkurat_bold_italic-webfont.woff') format('woff'),
      url('~/fonts/akkurat/akkurat_bold_italic-webfont.ttf')  format('truetype'),
      url('~/fonts/akkurat/akkurat_bold_italic-webfont.svg#svgFontName') format('svg');
  font-weight: 900;
  font-style: normal;
  text-rendering: optimizeLegibility;
};

body {
  font-family: "Akkurat";
}

