.main-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  margin: 0;
  min-width: 20rem;
  min-height: 100vh;
  font-family: "Akkurat", sans-serif;
}

*:focus {
  outline: .125rem auto #f6b1bd;
}

a [href^="tel:"] {
  white-space: nowrap;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: 0;
}

h3 {
  font-size: 2.125rem;
  font-family: "AkkuratLight", "Arial", sans-serif;
}

h4 {
  font-size: 1.5rem;
  font-family: "AkkuratBold", "Arial", sans-serif;
}

