.data-sheet {
  background-color: #fff;

  &__tab-card {
    padding: 2rem 0 0;

    @media only screen and (min-width: 1024px) {
      padding: 0 0 0 3rem;
    }

    @media only screen and (min-width: 1200px) {
      padding: 0;
    }
  }

  &__tabs {
    display: flex;
    margin: 0;
    cursor: pointer;
    padding: 0;
    width: 100%;
    list-style: none;

    .tab {
      margin: 0 1rem 0 0;
      color: #888;

      @media only screen and (min-width: 768px) {
        margin: 0 0.6rem 0 0;
      }

      @media only screen and (min-width: 1024px) {
        margin: 0 1rem 0 0;
      }

      &:hover {
        color: #000;
      }

      &--active {
        transition: 0.4s;
        margin: 0 1rem 0 0;

        @media only screen and (min-width: 768px) {
          margin: 0 0.6rem 0 0;
        }

        @media only screen and (min-width: 1024px) {
          margin: 0 1rem 0 0;
        }
      }
    }
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__row {
    .col {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }

      @media only screen and (min-width: 768px) {
        margin-bottom: 0;
      }

      @media only screen and (min-width: 1024px) {
        &:first-child {
          padding-right: 1.5rem;
        }

        &:last-child {
          padding-left: 1.5rem;
        }
      }
    }
  }

  &__list {
    border: 0.0625rem solid;
    height: auto;

    &.left-side {
      border-bottom: 0.25rem solid;
      padding: 1.5rem 1.5rem 1.25rem;
    }

    &.right-side {
      border-top: 0.25rem solid;
      padding: 1.25rem 1.5rem 1.5rem;
    }
  }

  &__list-item {
    margin: 0 0 0.9rem;
    line-height: 1.43rem;
    font-size: 0.875rem;

    &:last-child {
      margin: 0;
    }

    @media only screen and (min-width: 1500px) {
      line-height: 1.8rem;
      font-size: 1rem;
    }

    @media only screen and (min-width: 3000px) {
      margin: 0 0 2rem;
      line-height: 2.5rem;
      font-size: 1.5rem;
    }
  }

  &__item {
    &--bold {
      font-family: 'AkkuratBold', 'Arial', sans-serif;
    }

    &--light {
      font-family: 'AkkuratLight', 'Arial', sans-serif;
    }
  }
}
