.cookies {
  position: relative;
  z-index: 100000;

  &__bar {
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    background-color: $mine-shaft;
    padding: 1.25rem;
    font-family: 'Akkurat', Arial, sans-serif;

    p,
    a {
      margin: 0;
      max-width: unset;
      color: $white;
      font-size: 0.75rem;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    & button {
      border: 0;
      border-radius: 1.125rem;
      background-color: $white;
      padding: 0.35rem 0.5rem 0.35rem 0.6rem;
      line-height: normal;
      color: $black;
      font-family: 'AkkuratBold', 'Arial', sans-serif;
      font-size: 0.75rem;

      &:hover {
        background-color: $black;
        color: $white;
      }
    }
  }

  &__link {
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      font-family: 'AkkuratBold', Arial, sans-serif;
    }
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }

  @media screen and (min-width: 768px) {
    &__bar {
      flex-direction: row;
    }

    &__button {
      margin-top: 0;
    }
  }
}
