.cookies {
  position: relative;
  z-index: 100000;

  &__bar {
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(41, 41, 41, .9);
    padding: 1.25rem;
    font-family: "Akkurat", Arial, sans-serif;

    p,
    a {
      margin: 0;
      max-width: unset;
      color: #fff;
      font-size: .75rem;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    & button {
      border: 0;
      border-radius: 1.125rem;
      background-color: #fff;
      padding: .35rem .5rem .35rem .6rem;
      line-height: normal;
      color: #000;
      font-family: "AkkuratBold", "Arial", sans-serif;
      font-size: .75rem;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }

  &__link {
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      font-family: "AkkuratBold", Arial, sans-serif;
    }
  }

  &__bar-buttons {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 768px) {
  .cookie-control {
    &__bar {
      flex-direction: row;
    }

    &__bar-buttons {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .cookie-control {
    &__bar-buttons {
      justify-content: flex-start;
      margin-top: 1.125rem;
    }
  }
}

