.product-list {
  @media only screen and (min-width: 768px) {
    padding: 4rem 0 0;
  }

  &__shows,
  &__workshops {
    .product-list {
      &__item {
        padding: 3rem 0 0;

        @media only screen and (min-width: 768px) {
          padding: 4rem 0 0;
        }
      }
    }
  }
}
