a {
  display: flex;
  align-items: baseline;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.button-outline-primary {
  background-color: #fff;
  color: #fd2b5e;
  border: solid .0625rem #fd2b5e;
  border-radius: 1.125rem;
  line-height: normal;
  font-family: "AkkuratBold", "Arial", sans-serif;

  &:hover {
    background-color: #fd2b5e;
    color: #fff;
    background-image: url("~@/assets/icons/arrow_right--radicalred.svg");
    background-repeat: no-repeat;
    background-position: 86% 50%;
    padding: .5rem 1.5rem .5rem .75rem;

    img {
      display: none;
    }
  }
}

.button-outline-secondary {
  background-color: #fff;
  color: #000;
  border: solid .0625rem #000;
  border-radius: 1.125rem;
  line-height: normal;
  font-family: "AkkuratBold", "Arial", sans-serif;
  padding: .5rem .8rem .5rem .75rem;

  &:hover {
    background-color: #000;
    color: #fff;
    background-image: url("~@/assets/icons/arrow_down--white.svg");
    background-repeat: no-repeat;
    background-position: 86% 50%;
    padding: .5rem 1.5rem .5rem .75rem;

    img {
      display: none;
    }
  }
}

img {
  &.arrow_down--black {
    width: .5rem;
    height: .6875rem;
    margin-left: .25rem;
  }
}

