.highlights {
  margin: 4rem 0 3.5rem;
  padding: 0 .9375rem;

  @media only screen and (min-width: 768px) {
    margin: 7rem 0 6rem;
    background-repeat: no-repeat;
    background-position: 132% bottom;
    background-size: 50%;
    padding: 0 2rem;
  }

  @media only screen and (min-width: 1024px) {
    margin: 9rem 0 6rem;
    background-position: 116% bottom;
    padding: 0 3rem 2rem;
  }

  @media only screen and (min-width: 1200px) {
    background-position: 110% bottom;
    padding: 0 0 2rem;
  }

  @media only screen and (min-width: 1500px) {
    background-position: 100% bottom;
  }

  @media only screen and (min-width: 1900px) {
    background-size: 80%;
  }

  @media only screen and (min-width: 3000px) {
    margin: 13rem 0;
  }

  &__title {
    @media only screen and (min-width: 768px) {
      line-height: 0;
    }
  }

  &__description {
    margin: .25rem 0 2rem;
    line-height: 1.4;

    @media only screen and (min-width: 768px) {
      margin: 0 0 2.5rem;
      line-height: 4;
    }

    @media only screen and (min-width: 1200px) {
      font-size: 1.125rem;
    }

    @media only screen and (min-width: 1500px) {
      font-size: 1.25rem;
    }

    @media only screen and (min-width: 3000px) {
      margin: 0 0 4rem;
      font-size: 1.5rem;
    }
  }

  &__items {
    justify-content: space-between;

    @media only screen and (min-width: 1024px) and (max-width: 1899px) {
      .col-6,
      .col-sm-6,
      .col-md-6 {
        &:first-child,
        &:nth-child(2) {
          padding-bottom: 1.5rem;
        }
      }
    }
  }

  // MIXED HIGHLIGHTS COLOR STYLES

  &__mixed {
    .highlights {
      &__description {
        color: #444;
      }
    }

    @media only screen and (min-width: 768px) {
      background-image: url("~@/assets/images/java_background.svg");

      .highlights {
        &__description {
          color: #008287;
        }
      }
    }

  }

  // SHOWS DETAIL HIGHLIGHTS STYLES

  &__shows {
    @media only screen and (min-width: 768px) {
      background-image: url("~@/assets/images/radical-red_background.svg");
    }

    .highlights {
      &__description {
        color: #444;
      }
    }
  }

  // WORKSHOPS DETAIL HIGHLIGHTS STYLES

  &__workshops {
    @media only screen and (min-width: 768px) {
      background-image: url("~@/assets/images/eminence_background.svg");
    }

    .highlights {
      &__description {
        color: #5c2978;
      }
    }
  }
}
