.cover {
  &__home {
    background-image: url("~@/assets/images/img_cover_small_plisplas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    position: relative;
    top: 0;
    left: 0;

    @media only screen and (min-width: 768px) {
      background-image: url("~@/assets/images/img_cover_medium_plisplas.jpg");
      background-position: 50% 0%;
    }

    @media only screen and (min-width: 1024px) {
      background-image: url("~@/assets/images/img_cover_plisplas.jpg");
      background-position: 50% 30%;
    }
  }

  &__content {
    padding: 8rem 0 6rem;
    display: flex;
    justify-content: flex-start;
    color: #fff;

    @media only screen and (min-width: 768px) {
      padding: 12.5rem 0 10.5rem;
    }

    @media only screen and (min-width: 1900px) {
      padding: 15.5rem 0 13.5rem;
    }

    @media only screen and (min-width: 3000px) {
      padding: 30rem 0 28rem;
    }
  }


  &__claim {
    margin-bottom: .5rem;
    line-height: 1.125;
    font-family: "AkkuratBold", "Arial", sans-serif;
    font-size: 1.75rem;
    text-shadow: 0 .125rem .1875rem rgba(0, 0, 0, 0.8);

    @media only screen and (min-width: 768px) {
      font-size: 2.5rem;
      font-family: "AkkuratLight",
        "Arial",
        sans-serif;
      text-shadow: 0 .125rem .1875rem rgba(0, 0, 0, 0.5);
    }

    @media only screen and (min-width: 1900px) {
      font-size: 3rem;
    }

    @media only screen and (min-width: 3000px) {
      font-size: 4rem;
    }
  }

  &__title {
    line-height: 1.125;
    font-family: "AkkuratBold", "Arial", sans-serif;
    font-size: 2.5rem;
    text-shadow: 0 .125rem .1875rem #000;

    @media only screen and (min-width: 768px) {
      font-size: 3.75rem;
    }

    @media only screen and (min-width: 1900px) {
      font-size: 4rem;
    }

    @media only screen and (min-width: 3000px) {
      font-size: 5rem;
    }
  }

  &__404 {
    background-image: url("~@/assets/images/img_thumbnail_desencaixats.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    position: relative;
    top: 0;
    left: 0;

    & > .cover__content {
      padding: 14rem 0 16rem;
      justify-content: center;

      &:hover {
        text-decoration: underline;
      }

      @media only screen and (min-width: 768px) {
        padding: 22.5rem 0 28.5rem;
      }

      @media only screen and (min-width: 1024px) {
        padding: 30.5rem 0 32.5rem;
      }
    }
  }
}





