.cover {
  position: relative;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;

  @media only screen and (min-width: 768px) {
    background-position: 50% 0%;
  }

  @media only screen and (min-width: 1024px) {
    background-position: 50% 30%;
  }

  &.cover {
    .cover {
      &__content {
        display: flex;
        justify-content: flex-start;
        color: #fff;
      }

      &__title {
        line-height: 1.125;
        font-family: "AkkuratBold", "Arial", sans-serif;
        font-size: 2.5rem;

        @media only screen and (min-width: 768px) {
          font-size: 3.75rem;
        }

        @media only screen and (min-width: 1900px) {
          font-size: 4rem;
        }

        @media only screen and (min-width: 3000px) {
          font-size: 5rem;
        }
      }
    }
  }

  &__claim {
    margin-bottom: .5rem;
    text-shadow: 0 .125rem .1875rem rgba(0, 0, 0, .8);
    line-height: 1.125;
    font-family: "AkkuratBold", "Arial", sans-serif;
    font-size: 1.75rem;

    @media only screen and (min-width: 768px) {
      text-shadow: 0 .125rem .1875rem rgba(0, 0, 0, .5);
      font-family: "AkkuratLight", "Arial", sans-serif;
      font-size: 2.5rem;
    }

    @media only screen and (min-width: 1900px) {
      font-size: 3rem;
    }

    @media only screen and (min-width: 3000px) {
      font-size: 4rem;
    }
  }

  .row {
    &__title {
      margin-left: 0;
      width: 100%;
    }
  }

  // HOME COVER CUSTOM STYLES

  &__home {
    background-image: url("~@/assets/images/img_cover_small_plisplas.jpg");

    @media only screen and (min-width: 768px) {
      background-image: url("~@/assets/images/img_cover_medium_plisplas.jpg");
    }

    @media only screen and (min-width: 1024px) {
      background-image: url("~@/assets/images/img_cover_plisplas.jpg");
    }

    &.cover {
      .cover {
        &__content {
          padding: 8rem 0 6rem;

          @media only screen and (min-width: 768px) {
            padding: 12.5rem 0 10.5rem;
          }

          @media only screen and (min-width: 1900px) {
            padding: 15.5rem 0 13.5rem;
          }

          @media only screen and (min-width: 3000px) {
            padding: 30rem 0 28rem;
          }
        }

        &__title {
          text-shadow: 0 .125rem .1875rem #000;
        }
      }
    }
  }

  // PRODUCTS COVER CUSTOM STYLES

  &__products {
    &.cover {
      .cover {
        &__content {
          margin-bottom: 4.8rem;
          padding: 8rem 0 3rem;

          @media only screen and (min-width: 768px) {
            margin-bottom: 7.35rem;
            padding: 12.5rem 0 3rem;
          }

          @media only screen and (min-width: 1900px) {
            margin-bottom: 9.35rem;
            padding: 15.5rem 0 4rem;
          }

          @media only screen and (min-width: 3000px) {
            margin-bottom: 15rem;
            padding: 30rem 0 6rem;
          }
        }

        &__title {
          position: absolute;
          bottom: 1.15rem;
          text-shadow: 0 .125rem .1875rem #000;

          @media only screen and (min-width: 768px) {
            bottom: -.85rem;
          }

          @media only screen and (min-width: 3000px) {
            bottom: -2.65rem;
          }
        }

        &__claim {
          position: relative;
        }
      }

      .row {
        &__title {
          position: absolute;
          top: 14rem;
          padding: 5.15rem 0 1rem;

          @media only screen and (min-width: 358px) {
            top: 12rem;
          }

          @media only screen and (min-width: 768px) {
            top: 18rem;
            padding: 5.15rem 0 3rem;
          }

          @media only screen and (min-width: 1900px) {
            top: 23rem;
          }

          @media only screen and (min-width: 3000px) {
            top: 39rem;
            padding: 5.15rem 0 4rem;
          }
        }
      }
    }

    &.products {
      &__shows {
        background-image: url("~@/assets/images/img_cover_small_plisplas.jpg");

        @media only screen and (min-width: 768px) {
          background-image: url("~@/assets/images/img_cover_medium_plisplas.jpg");
        }

        @media only screen and (min-width: 1024px) {
          background-image: url("~@/assets/images/img_cover_plisplas.jpg");
          background-position: 50% 0%;
        }

        &.cover {
          .row__title {
            background-color: #fd2b5e;
          }
        }
      }

      &__workshops {
        background-image: url("~@/assets/images/img_cover_small_workshops.jpg");

        @media only screen and (min-width: 768px) {
          background-image: url("~@/assets/images/img_cover_medium_workshops.jpg");
        }

        @media only screen and (min-width: 1024px) {
          background-image: url("~@/assets/images/img_cover_workshops.jpg");
        }

        &.cover {
          .row {
            &__title {
              background-color: #5c2978;
            }
          }
        }
      }

      &__performances {
        background-image: url("~@/assets/images/img_cover_small_performances.jpg");

        @media only screen and (min-width: 768px) {
          background-image: url("~@/assets/images/img_cover_medium_performances.jpg");
        }

        @media only screen and (min-width: 1024px) {
          background-image: url("~@/assets/images/img_cover_performances.jpg");
        }

        &.cover {
          .cover {
            &__title {
              width: 60%;
            }
          }

          .row {
            &__title {
              background-color: #e84e31;
            }
          }
        }
      }
    }
  }


  // PRODUCTS DETAIL CUSTOM STYLES

  &__products-detail {
    &.shows {
      &__plisplas {
        background-image: url("~@/assets/images/img_thumbnail_plisplas.jpg");
        background-position: 60% 0%;

        @media only screen and (min-width: 768px) {
          background-image: url("~@/assets/images/img_sinopsi_plisplas.jpg");
          background-position: 50% 0%;
        }

        @media only screen and (min-width: 1024px) {
          background-image: url("~@/assets/images/img-cover-show-plisplas.jpg");
        }
      }
    }

    &.cover {
      .cover {
        &__content {
          padding: 12.15rem 0 0;

          @media only screen and (min-width: 768px) {
            padding: 15.65rem 0 0;
          }

          @media only screen and (min-width: 1900px) {
            padding: 19.65rem 0 0;
          }

          @media only screen and (min-width: 3000px) {
            padding: 34.15rem 0 0;
          }
        }

        &__claim {
          margin-top: 15.7rem;
        }
      }

      .row {
        &__title {
          background-color: #fd2b5e;
          padding: .15rem 0;
        }
      }
    }
  }

  //LEGAL PAGES COVER CUSTOM STYLES

  &__legal {
    background-image: url("~@/assets/images/img_thumbnail_desencaixats.jpg");

    &.cover {
      .cover {
        &__content {
          padding: 12.15rem 0 0;

          @media only screen and (min-width: 768px) {
            padding: 15.65rem 0 0;
          }

          @media only screen and (min-width: 1900px) {
            padding: 19.65rem 0 0;
          }

          @media only screen and (min-width: 3000px) {
            padding: 34.15rem 0 0;
          }
        }
      }

      .row {
        &__title {
          background-color: #fbdd0b;
          padding: .15rem 0;
          color: #000;
        }
      }
    }
  }
}




