.dotted-list {
  margin: 0 0 3.5rem;

  &__title {
    margin: 2rem 0 1rem;
  }

  @media only screen and (min-width: 768px) {
    margin: 0 0 4rem;
    padding: 0 2rem;

    &__title {
      margin: 4rem 0 1rem;
    }
  }

  @media only screen and (min-width: 1024px) {
    padding: 0 3rem;
  }

  @media only screen and (min-width: 1200px) {
    padding: 0;
  }

  @media only screen and (min-width: 1500px) {
    margin: 0 0 8rem;

    &__title {
      margin: 6rem 0 1rem;
    }
  }

  @media only screen and (min-width: 3000px) {
    margin: 0 0 10rem;

    &__title {
      margin: 8rem 0 1rem;
    }
  }

  &__subtitle {
    margin: 2rem 0 .5rem;
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 0 0 0 1rem;
  }

  &__paragraph {
    line-height: 1.4;
  }

  &__list-link {
    display: inline-flex;
    margin: 1rem 0 0;
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 0 0 0 1rem;
    color: #000;

    &:hover {
      text-decoration: underline;
    }
  }

  &__cookies {
    .dotted-list {
      &__subtitle,
      &__list-link {
        background-image: url("~@/assets/icons/dot--lemon.svg");
      }

      &__list-link {
        &:hover {
          text-decoration-color: #fbdd0b;
        }
      }
    }
  }

}
