a {
  display: flex;
  align-items: baseline;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.button-outline-primary {
  border: solid .0625rem #fd2b5e;
  color: #fd2b5e;

  .arrow_right {
    margin-left: .25rem;
    background-repeat: no-repeat;
    width: .6875rem;
    height: .5rem;

    &.radical-red {
      background-image: url("~@/assets/icons/arrow_right--radical-red.svg");
    }

    &.eminence {
      background-image: url("~@/assets/icons/arrow_right--eminence.svg");
    }
  }

  &:hover {
    background-color: #fd2b5e;
    color: #fff;

    .arrow_right {
      background-image: url("~@/assets/icons/arrow_right--white.svg");
    }
  }
}

.button-outline-secondary {
  border: solid .0625rem #000;
  color: #000;

  .arrow_down {
    margin-left: .35rem;
    background-repeat: no-repeat;
    width: .5rem;
    height: .6875rem;

    &.black {
      background-image: url("~@/assets/icons/arrow_down--black.svg");
    }

    &.teal {
      background-image: url("~@/assets/icons/arrow_down--teal.svg");
    }
  }

  &:hover {
    background-color: #000;
    color: #fff;

    .arrow_down {
      background-image: url("~@/assets/icons/arrow_down--white.svg");
    }
  }
}

.button-outline-primary,
.button-outline-secondary {
  border-radius: 1.125rem;
  background-color: #fff;
  padding: .5rem .8rem .5rem .7rem;
  line-height: normal;
  font-family: "AkkuratBold", "Arial", sans-serif;

  &__teal {
    color: #008287;
    border: solid .0625rem #20C0C6;

    &:hover {
      background-color: #008287;
    }
  }

  &__eminence {
    color: #5C2978;
    border: solid .0625rem #5C2978;

    &:hover {
      background-color: #5C2978;
      border: solid .0625rem #350A64;
    }
  }
}



