.footer {
  width: 100%;

  &__corp {
    padding: 2rem .9375rem;
    background: #000;
    color: #fff;
  }

  @media only screen and (min-width: 1024px) {
    &__corp {
      padding: 4.5rem .9375rem;
    }
  }

  &__contact,
  &__credits {
    display: flex;
    justify-content: center;
  }

  &__contact {
    font-size: .75rem;
    text-align: center;
    padding: 2rem 0;
    order: 2;

    .contact {
      &__email {
        color: #fff;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    &__contact {
      font-size: .875rem;
      padding: 0;

      .contact {
        &__email {
          margin-right: .75rem;
        }

        &__adress {
          &::before {
            content: '·';
            margin-right: .75rem;
          }
        }
      }

    }
  }

  &__rrss {
    order: 3;
  }

  &__brand {
    display: inline-flex;
    justify-content: center;
    order: 1;
  }

  @media only screen and (min-width: 768px) {
    &__rrss {
      order: 1;
    }

    &__brand {
      justify-content: flex-end;
      order: 3;
    }
  }

  &__image {
    height: 2.75rem;
    width: auto;
  }

  &__credits {
    background: #fbdd0b;
    padding: .5rem .9375rem;
    font-size: .75rem;

    .credits {
      &__cia,
      &__partners {
        margin-right: .5rem;
      }

      &__content {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-self: center;
      }

      &__partners {
        display: flex;
      }

      @media only screen and (min-width: 441px) {
        &__partners {
          &::before {
            content: '·';
            margin-right: .5rem;
          }

          &:last-child {
            margin-right: 0rem;

            &::before {
              content: none;
            }
          }
        }
      }

      &__link {
        color: #000;
        margin-left: .5rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
