.footer {
  width: 100%;

  &__corp {
    background: #000;
    padding: 2rem .9375rem;
    color: #fff;

    @media only screen and (min-width: 1024px) {
      padding: 3.5rem .9375rem;
    }

    @media only screen and (min-width: 1200px) {
      padding: 4.5rem .9375rem;
    }
  }

  &__contact {
    display: flex;
    justify-content: center;
    order: 2;
    padding: 2rem 0;
    text-align: center;
    font-size: .75rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media only screen and (min-width: 768px) {
      padding: 3rem 0;
    }

    @media only screen and (min-width: 1024px) {
      justify-content: flex-start;
      padding: 4rem 0 0;
    }

    @media only screen and (min-width: 1200px) {
      padding: 0;
    }

    @media only screen and (min-width: 1500px) {
      font-size: 1rem;
    }

    @media only screen and (min-width: 3000px) {
      font-size: 1.25rem;
    }

    .contact {
      &__email {
        color: #fff;

        &:hover {
          text-decoration: underline;
        }

        @media only screen and (min-width: 768px) {
          margin-right: .75rem;
        }
      }

      @media only screen and (min-width: 768px) {
        &__adress {
          &::before {
            margin-right: .75rem;
            content: "·";
          }
        }
      }
    }
  }

  &__rrss {
    order: 3;

    @media only screen and (min-width: 1024px) {
      order: 1;
    }
  }

  &__brand {
    display: inline-flex;
    justify-content: center;
    order: 1;

    @media only screen and (min-width: 768px) {
      align-self: flex-end;
    }

    @media only screen and (min-width: 1024px) {
      order: 3;
    }
  }

  &__image {
    width: auto;
    height: 2.75rem;

    @media only screen and (min-width: 1900px) {
      height: 3rem;
    }

    @media only screen and (min-width: 3000px) {
      height: 3.5rem;
    }
  }

  &__credits,
  &__legal {
    display: flex;
    justify-content: center;
    background: #fbdd0b;
    padding: .5rem .9375rem;
    font-size: .75rem;

    @media only screen and (min-width: 1500px) {
      font-size: .875rem;
    }

    @media only screen and (min-width: 3000px) {
      font-size: 1rem;
    }
  }

  &__credits {
    .credits {
      &__cia,
      &__partners {
        margin-right: .5rem;
      }

      &__content {
        display: flex;
        flex-flow: row wrap;
        align-self: center;
        justify-content: center;
      }

      &__partners {
        display: flex;

        @media only screen and (min-width: 441px) {
          &::before {
            margin-right: .5rem;
            content: "·";
          }

          &:last-child {
            margin-right: 0;

            &::before {
              content: none;
            }
          }
        }
      }

      &__link {
        margin-left: .5rem;
        color: #000;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__legal {
    border-top: .0625rem dotted #000;
  }

  &__legal-list {
    display: flex;
  }

  &__legal-list-item {
    &:first-child {
      &::after {
        content: "|";
      }
    }
  }

  &__legal-links {
    margin: 0 1rem;
    color: #000;

    &:hover {
      text-decoration: underline;
    }
  }
}
