.summary {
  margin: 2rem 0 4rem;
  background-color: white;


  @media only screen and (min-width: 768px) {
    margin: 4rem 0 6rem;

    &.container-fluid {
      padding: 0 2rem;
    }
  }

  @media only screen and (min-width: 1024px) {
    margin: 6rem 0 8rem;

    &.container-fluid {
      padding: 0 3rem;
    }
  }

  @media only screen and (min-width: 1200px) {
    &.container-fluid {
      padding: 0;
    }
  }

  @media only screen and (min-width: 1500px) {
    margin: 6rem 0 8rem;
  }

  @media only screen and (min-width: 3000px) {
    margin: 8rem 0 10rem;
  }

  &__abstract {
    margin-bottom: 1.5rem;
    line-height: 1.89;

    @media only screen and (min-width: 768px) {
      margin-bottom: 0;
    }

    @media only screen and (min-width: 1200px) {
      font-size: 1.125rem;
    }

    @media only screen and (min-width: 1500px) {
      line-height: 2.6rem;
      font-size: 1.25rem;
    }

    @media only screen and (min-width: 3000px) {
      line-height: 4rem;
      font-size: 2rem;
    }
  }

  &__list {
    padding: 0;

    &:first-child {
      margin: 0 0 .75rem;
    }

    @media only screen and (min-width: 768px) {
      padding: 0 0 0 3rem;

      &:first-child {
        margin: .25rem 0 .75rem;
      }
    }
  }

  &__list-item {
    line-height: 1.43rem;
    font-size: .875rem;

    @media only screen and (min-width: 1200px) {
      &:first-child {
        margin: .35rem 0 .9rem;
      }
    }

    @media only screen and (min-width: 1500px) {
      line-height: 1.8rem;
      font-size: 1rem;
    }

    @media only screen and (min-width: 3000px) {
      line-height: 2.5rem;
      font-size: 1.5rem;

      &:first-child {
        margin: .85rem 0 2rem;
      }
    }
  }

  &__item {
    &--bold {
      font-family: "AkkuratBold", "Arial", sans-serif;
    }

    &--light {
      font-family: "AkkuratLight", "Arial", sans-serif;
    }
  }

  &__btn {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
