.summary {
  background-color: white;
  margin: 4.625rem 0 5.25rem;

  &__abstract {
    line-height: 1.89;
  }

  &__list {
    &:first-child {
      margin: .35rem 0 .75rem;
    }
  }

  &__list-item {
    font-size: .875rem;
    line-height: 1.25rem;
  }

  &__item {
    &--bold {
      font-family: "AkkuratBold", "Arial", sans-serif;
    }

    &--light {
      font-family: "AkkuratLight", "Arial", sans-serif;
    }
  }
}
