.card {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 1rem;
  border: 0;
  background-clip: border-box;
  min-width: 0;
  -webkit-background-clip: border-box;
  word-wrap: break-word;

  &:hover {
    box-shadow: 0 0.125rem 0.1875rem $black-shadow;
  }

  @media only screen and (min-width: 768px) {
    margin-bottom: 2rem;
  }

  &__image {
    position: relative;
    width: 100%;
  }

  &__content {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 1;
    background-image: linear-gradient(to bottom, $eminence-shadow, $black);
    padding: 12% 4% 4%;
    width: 100%;
  }

  &__link {
    cursor: pointer;
  }

  &__title,
  &__name {
    margin-right: 0.5rem;
    color: $white;
  }

  &__title {
    font-family: 'Akkurat', 'Arial', sans-serif;
  }

  &__name {
    text-transform: uppercase;
    font-family: 'AkkuratBold', 'Arial', sans-serif;
  }
}
