.table-list {
  margin: 0 0 3.5rem;

  @media only screen and (min-width: 768px) {
    margin: 0 0 4rem;
    padding: 0 2rem;
  }

  @media only screen and (min-width: 1024px) {
    padding: 0 3rem;
  }

  @media only screen and (min-width: 1200px) {
    padding: 0;
  }

  @media only screen and (min-width: 1500px) {
    margin: 0 0 8rem;
  }

  @media only screen and (min-width: 3000px) {
    margin: 0 0 10rem;
  }

  .table {
    &__title {
      margin: 0 0 1rem;
    }

    &__table {
      display: table;
      margin: 1rem 0 0;
      border-spacing: 0;
      text-indent: 0;
      font-size: 0.75rem;

      @media only screen and (min-width: 768px) {
        margin: 2rem 0 0;
      }

      @media only screen and (min-width: 1024px) {
        font-size: 1rem;
      }
    }

    &__head {
      display: inline-flex;
      flex-direction: column;
      border-bottom: 0.0625rem solid $tundora;
      width: 100%;

      @media only screen and (min-width: 768px) {
        display: table-header-group;
      }
    }

    &__row {
      display: inline-flex;
      flex-direction: column;
      border-bottom: 0.0625rem solid $silver;
      width: 100%;

      &:last-child {
        border-bottom: 0.0625rem solid $tundora;
      }

      &:hover {
        background-color: $alabaster;
      }

      @media only screen and (min-width: 768px) {
        display: table-row;
      }
    }

    &__heading,
    &__cell {
      padding: 0.5rem;

      @media only screen and (min-width: 768px) {
        padding: 1rem;

        &:nth-child(2) {
          width: 40%;
        }
      }
    }

    &__heading {
      line-height: 1.25rem;

      @media only screen and (min-width: 768px) {
        line-height: 2rem;
      }
    }
  }
}
