.cookie-control {
  position: relative;
  z-index: 100000;

  &__bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #fbdd0b;
    font-family: 'Akkurat',
    Arial,
    sans-serif;

    p,
    a {
      color: #000;
      max-width: unset;
      font-size: 14px;
      margin: 0;
    }

    a.cookies-link {
      text-decoration: none;

      &:hover {
        font-family: 'AkkuratBold', 'Arial', sans-serif;
      }
    }

    & button {
      color: #000;
      border: solid .0625rem #000;
      background-color: #fff;
      border-radius: 1.125rem;
      line-height: normal;
      font-family: "AkkuratBold",
        "Arial",
        sans-serif;
      padding: .5rem .8rem .5rem .7rem;

      &:hover {
        color: #fff;
        background-color: #000;
      }
    }
  }

  &__bar-buttons {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 768px) {
  .cookie-control {
    &__bar {
      flex-direction: row;
    }

    &__bar-buttons {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .cookie-control {
    &__bar-buttons {
      justify-content: flex-start;
      margin-top: 20px;
    }
  }
}

