.data-sheet {
  margin: 3rem 0 3.5rem;
  background-color: white;

  @media only screen and (min-width: 768px) {
    margin: 4.625rem 0 5.25rem;
  }

  @media only screen and (min-width: 1500px) {
    margin: 6rem 0 8rem;
  }

  @media only screen and (min-width: 3000px) {
    margin: 8rem 0 10rem;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__row {
    .col {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }

      @media only screen and (min-width: 768px) {
        margin-bottom: 0;
      }

      @media only screen and (min-width: 1024px) {
        &:first-child {
          padding-right: 1.875rem;
        }

        &:last-child {
          padding-left: 1.875rem;
        }
      }
    }
  }

  &__list {
    border: .0625rem solid;

    &.left-side {
      border-bottom: .5rem solid;
      padding: 1.5rem 1.5rem 1.05rem;
    }

    &.right-side {
      border-top: .5rem solid;
      padding: 1.05rem 1.5rem 1.5rem;
    }
  }

  &__list-item {
    margin: 0 0 .9rem;
    line-height: 1.43rem;
    font-size: .875rem;

    &:last-child {
      margin: 0;
    }

    @media only screen and (min-width: 1500px) {
      line-height: 1.8rem;
      font-size: 1rem;
    }

    @media only screen and (min-width: 3000px) {
      margin: 0 0 2rem;
      line-height: 2.5rem;
      font-size: 1.5rem;
    }
  }

  &__item {
    &--bold {
      font-family: "AkkuratBold", "Arial", sans-serif;
    }

    &--light {
      font-family: "AkkuratLight", "Arial", sans-serif;
    }
  }

  &.shows {
    .data-sheet {
      &__list {
        border-color: #fd2b5e;

        &.left-side,
        &.right-side {
          border-color: #fd2b5e;
        }
      }
    }
  }

  &.workshops {
    .data-sheet {
      &__list {
        border-color: #5c2978;

        &.left-side,
        &.right-side {
          border-color: #5c2978;
        }
      }
    }
  }

  &.performances {
    .data-sheet {
      &__list {
        border-color: #e84e31;

        &.left-side,
        &.right-side {
          border-color: #e84e31;
        }
      }
    }
  }
}
