.data-sheet {
  margin: 2rem 0;
  background-color: white;

  @media only screen and (min-width: 768px) {
    margin: 4rem 0;
    padding: 0 2rem;
  }

  @media only screen and (min-width: 1024px) {
    padding: 0;
  }

  @media only screen and (min-width: 1500px) {
    margin: 6rem 0;
  }

  @media only screen and (min-width: 3000px) {
    margin: 8rem 0;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__row {
    .col {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }

      @media only screen and (min-width: 768px) {
        margin-bottom: 0;
      }

      @media only screen and (min-width: 1024px) {
        &:first-child {
          padding-right: 1.875rem;
        }

        &:last-child {
          padding-left: 1.875rem;
        }
      }
    }
  }

  &__list {
    border: .0625rem solid;

    @media only screen and (min-width: 768px) {
      height: 35.5rem;
    }

    @media only screen and (min-width: 1500px) {
      height: 42rem;
    }

    @media only screen and (min-width: 3000px) {
      height: 64rem;
    }

    &.left-side {
      border-bottom: .25rem solid;
      padding: 1.5rem 1.5rem 1.25rem;
    }

    &.right-side {
      border-top: .25rem solid;
      padding: 1.25rem 1.5rem 1.5rem;
    }
  }

  &__list-item {
    margin: 0 0 .9rem;
    line-height: 1.43rem;
    font-size: .875rem;

    &:last-child {
      margin: 0;
    }

    @media only screen and (min-width: 1500px) {
      line-height: 1.8rem;
      font-size: 1rem;
    }

    @media only screen and (min-width: 3000px) {
      margin: 0 0 2rem;
      line-height: 2.5rem;
      font-size: 1.5rem;
    }
  }

  &__item {
    &--bold {
      font-family: "AkkuratBold", "Arial", sans-serif;
    }

    &--light {
      font-family: "AkkuratLight", "Arial", sans-serif;
    }
  }

  &__btn {
    margin: 2rem 0 0;
  }

  &.shows {
    .data-sheet {
      &__list {
        border-color: #fd2b5e;

        &.left-side,
        &.right-side {
          border-color: #fd2b5e;
        }
      }
    }

    &.freakfrac {
      .data-sheet {
        &__list {
          @media only screen and (min-width: 768px) {
            height: 32rem;
          }

          @media only screen and (min-width: 1024px) {
            height: 29rem;
          }

          @media only screen and (min-width: 1300px) {
            height: 25rem;
          }

          @media only screen and (min-width: 1500px) {
            height: 28rem;
          }

          @media only screen and (min-width: 3000px) {
            height: 43rem;
          }
        }
      }
    }
  }

  &.workshops {
    .data-sheet {
      &__list {
        border-color: #5c2978;

        @media only screen and (min-width: 768px) {
          height: 27rem;
        }

        &.left-side,
        &.right-side {
          border-color: #5c2978;
        }
      }
    }
  }

  &.performances {
    .data-sheet {
      &__list {
        border-color: #e84e31;

        @media only screen and (min-width: 768px) {
          height: 25.5rem;
        }

        &.left-side,
        &.right-side {
          border-color: #e84e31;
        }
      }
    }
  }
}
