.synopsis {
  &__title {
    line-height: .5;
  }

  &__content {
    background-color: #fd2b5e;
  }

  &__paragraph {
    color: #fff;
    line-height: 1.89;

    &:first-child {
      padding: 2.5rem 0 1rem;
    }
    &:last-child {
      padding: 0rem 0 2.5rem;
    }
  }

  @media only screen and (min-width: 768px) {
    &__paragraph {
      &:first-child {
        padding: 3.5rem 0 1rem;
      }

      &:last-child {
        padding: 1rem 0 3.5rem;
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    &__paragraph {
      &:first-child {
        padding: 4rem 0 1rem;
      }

      &:last-child {
        padding: 1rem 0 4rem;
      }
    }
  }

  @media only screen and (min-width: 1200px) {
    &__paragraph {
      font-size: 1.125rem;

      &:first-child {
        padding: 4.76rem 0 1rem;
      }

      &:last-child {
        padding: 1rem 0 4.76rem;
      }
    }
  }

  @media only screen and (min-width: 1500px) {
    &__paragraph {
      font-size: 1.25rem;
      line-height: 2.6rem;
    }
  }

  @media only screen and (min-width: 3000px) {
    &__paragraph {
      font-size: 2rem;
      line-height: 4rem;
    }
  }

  &__image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  &__image {
    width: auto;
    height: 20rem;
  }

  @media only screen and (min-width: 576px) {
    &__image {
      width: auto;
      height: 28rem;
    }
  }

  @media only screen and (min-width: 798px) {
    &__image {
      width: auto;
      height: 35rem;
    }
  }

  @media only screen and (min-width: 992px) {
    &__image {
      width: auto;
      height: 26rem;
    }
  }

  @media only screen and (min-width: 1024px) {
    &__image {
      width: auto;
      height: 25rem;
    }
  }

  @media only screen and (min-width: 1200px) {
    &__image-container {
      width: 100%;
      height: auto;
      overflow: hidden;
    }

    &__image {
      height: 32rem;
    }
  }

  @media only screen and (min-width: 1500px) {
    &__image {
      height: 38rem;
    }
  }

  @media only screen and (min-width: 3000px) {
    &__image {
      height: 64rem;
    }
  }


  &__btn {
    position: absolute;
    bottom: 1.5rem;
    right: 7.5rem;
    display: none; //waiting to have the page & its slot created
    margin-bottom: 2rem;

    .btn-outline-primary {
      background-color: #fff;
      color: #fd2b5e;
      border: solid .0625rem #fd2b5e;
      border-radius: 1.125rem;
      line-height: normal;
      font-family: "AkkuratBold", "Arial", sans-serif;
    }
  }
}
