.synopsis {
  &__info-container {
    padding: 0 0 2.5rem;

    @media only screen and (min-width: 768px) {
      padding: 0 1rem 2.5rem;
    }

    @media only screen and (min-width: 992px) {
      margin: 0 2rem 0 0;
      padding: 0 2rem;
    }

    @media only screen and (min-width: 1200px) {
      margin: 0;
      padding: 0;
    }
  }

  &__title {
    @media only screen and (min-width: 992px) {
      width: 111%;
    }
  }

  &__title,
  &__paragraph {
    padding: 0 0 1rem;
  }

  &__paragraph {
    line-height: 1.89;

    @media only screen and (min-width: 1200px) {
      font-size: 1.125rem;
    }

    @media only screen and (min-width: 1500px) {
      line-height: 2.6rem;
    }

    @media only screen and (min-width: 2000px) {
      line-height: 4rem;
      font-size: 1.8rem;
    }
  }

  &__btn {
    display: inline-flex;
    flex-flow: row wrap;
    margin: 1rem 1.5rem 0 0;
  }

  &__image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @media only screen and (min-width: 769px) {
      justify-content: flex-end;
    }
  }

  &__image {
    width: auto;
    height: 20rem;

    @media only screen and (min-width: 512px) {
      height: 28rem;
    }

    @media only screen and (min-width: 720px) {
      width: 100%;
      height: 100%;
    }

    @media only screen and (min-width: 1024px) {
      width: 100%;
      height: auto;
    }
  }

  /* COLOURED BACKGROUND STYLES */

  &__home,
  &__performances,
  &__filipersones,
  &__contact {
    .synopsis {
      &__info-container {
        padding: 2rem 0;

        @media only screen and (min-width: 768px) {
          padding: 2rem 1rem 2.5rem;
        }

        @media only screen and (min-width: 992px) {
          padding: 2rem 2rem 2.5rem;
        }

        @media only screen and (min-width: 1200px) {
          padding: 2rem 0;
        }
      }

      &__title,
      &__paragraph {
        color: #fff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }

  &__home {
    .synopsis {
      &__content {
        background-color: #fd2b5e;
      }
    }
  }

  &__performances {
    .synopsis {
      &__content {
        background-color: #e84e31;
      }
    }
  }

  &__filipersones {
    .synopsis {
      &__content {
        background-color: #20c0c6;
      }
    }
  }

  &__reverse {
    .synopsis {
      &__info-container {
        @media only screen and (min-width: 992px) {
          margin: 0 4rem 0 0;
          padding: 2rem 0;
        }

        @media only screen and (min-width: 1200px) {
          margin: 0 4rem 0 -42.33333%;
        }

        @media only screen and (min-width: 1900px) {
          margin: 0 8rem 0 -72.33333%;
        }
      }

      &__content {
        & > .row {
          display: flex;
          flex-flow: row-reverse wrap;
        }
      }

      &__image-container {
        @media only screen and (min-width: 992px) {
          margin-left: -14.33333%;
        }

        @media only screen and (min-width: 1900px) {
          margin-left: -16.33333%;
        }
      }
    }
  }

  &__contact {
    .synopsis {
      &__content {
        background-color: #fbdd0b;
      }

      &__info-container {
        padding: 3rem 0 3.5rem;

        @media only screen and (min-width: 768px) {
          padding: 4rem 1rem 4.5rem;
        }

        @media only screen and (min-width: 992px) {
          padding: 4rem 2rem 4.5rem 0;
        }
      }

      &__title {
        font-family: "AkkuratBold";
      }

      &__title,
      &__paragraph {
        color: #000;
      }

      &__image {
        width: 100%;
        height: auto;
      }
    }
  }

  .social-icons {
    &__list {
      justify-content: flex-start;
    }

    &__list-item {
      margin-top: .5rem;

      &:last-child {
        margin-left: 2rem;
      }
    }
  }
}
