.synopsis {
  &__title {
    @media only screen and (min-width: 768px) {
      margin-bottom: .5rem;
    }

    @media only screen and (min-width: 1024px) {
      margin-bottom: 0;
    }
  }

  &__paragraph {
    line-height: 1.89;
    padding: 1rem 0 0 0;

    @media only screen and (min-width: 1024px) {
      margin-right: 2rem;
    }

    @media only screen and (min-width: 1200px) {
      font-size: 1.125rem;
      margin-right: 0;
    }

    @media only screen and (min-width: 1500px) {
      font-size: 1.25rem;
      line-height: 2.6rem;
    }

    @media only screen and (min-width: 3000px) {
      font-size: 1.5rem;
      line-height: 3rem;
    }
  }

  &__btn {
    display: inline-flex;
    flex-flow: row wrap;
    margin: 1.5rem 1.5rem 2.5rem 0;

    @media only screen and (min-width: 1024px) {
      margin: 1.5rem 1.5rem 0 0;
    }

    @media only screen and (min-width: 1300px) {
      margin: 2.5rem 1.5rem 2.5rem 0;
    }
  }

  &__image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @media only screen and (min-width: 769px) {
      justify-content: flex-end;
    }
  }

  &__image {
    width: auto;
    height: 20rem;

    @media only screen and (min-width: 512px) {
      height: 28rem;
    }

    @media only screen and (min-width: 720px) {
      height: 100%;
      width: 100%;
    }
  }

  /* COLOURED BACKGROUND STYLES WITH ALSO DIF PADDINGS & MARGINS */

  &__home,
  &__performances {
    .synopsis {
      &__title {
        line-height: .5;
        margin-bottom: 0;
      }

      &__paragraph {
        color: #fff;

        &:first-child {
          padding: 2.5rem 0 1rem;
        }

        &:last-child {
          padding: 0 0 2.5rem;
        }

        @media only screen and (min-width: 768px) {
          &:first-child {
            padding: 3.5rem 0 1rem;
          }

          &:last-child {
            padding: 1rem 0 3.5rem;
          }
        }

        @media only screen and (min-width: 1024px) {
          &:first-child {
            padding: 2.5rem 0 .5rem;
          }

          &:last-child {
            padding: .5rem 0 2.5rem;
          }
        }

        @media only screen and (min-width: 1200px) {
          &:first-child {
            padding: 2.5rem 0 .5rem;
          }

          &:last-child {
            padding: .5rem 0 2.5rem;
          }
        }

        @media only screen and (min-width: 1300px) {
          &:first-child {
            padding: 3.5rem 0 .5rem;
          }

          &:last-child {
            padding: .5rem 0 3.5rem;
          }
        }
      }

      &__image {
        @media only screen and (min-width: 1800px) {
          height: 105%;
          width: auto;
        }

        @media only screen and (min-width: 1900px) {
          height: 115%;
          width: auto;
        }

        @media only screen and (min-width: 2000px) {
          height: 120%;
          width: auto;
        }

        @media only screen and (min-width: 2500px) {
          height: 155%;
          width: auto;
        }

        @media only screen and (min-width: 3000px) {
          height: 180%;
          width: auto;
        }
      }
    }
  }

  &__home {
    .synopsis {
      &__content {
        background-color: #fd2b5e;
      }
    }
  }

  &__performances {
    .synopsis {
      &__content {
        background-color: #e84e31;
      }
    }
  }
}
