.social-icons {
  display: inline-flex;

  &__list {
    display: flex;
    justify-content: center;
    padding: 0;

    @media only screen and (min-width: 1200px) {
      justify-content: flex-start;
    }
  }

  &__list-item {
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    &:hover {
      opacity: .6;
    }
  }

  &__image {
    width: 1.875rem;
    height: 1.875rem;

    @media only screen and (min-width: 1900px) {
      width: 2.5rem;
      height: 2.5rem;
    }

    @media only screen and (min-width: 3000px) {
      width: 3rem;
      height: 3rem;
    }
  }
}
